*~
*.pyc
*.DS_Store
*.pdf
*.png
*.xlsx
*.eps
output_flux_cal/O_*.txt
output_rectified/*/*.txt
output_rectified/*/*/*.txt
lists/*.csv
output_synthesized/*.csv
lists/gaia_coord/*.fits
lists/gaia_coord/*.csv
lists/autoslit/candidate_info/*.fits
lists/autoslit/candidate_info/*.csv
lists/old_lris_ngc2506_stuff/
lists/preliminary_ngc2506_solar_analogs/images
lists/*/apt_file
lists/*/images
lists/*/aladin_screenshots
lists/preliminary_ngc2506_solar_analogs/miv_quick_phot/
